{% extends "jeffreyvwong/base.html" %}

{% block title %}Contact {{ block.super }}{% endblock title %}

{% block meta_description %}
    <meta name="description" content="Contact details and links to twitter, facebook, and linkedin pages" />
{% endblock meta_description %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img id="contact" class="shadow img-responsive" src="/static/jeffreyvwong/images/contact.jpg" />
                    </div>

                    <div class="contact-social col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <h2 class="featurette-heading">Jeffrey V Wong, Ph.D.</h2>
                        <p class="lead">
                            Based in Markham, Ontario, Canada<br>
                            phone: 647 886 0781<br>
                            email: jeff.wong [at] jeffreyvwong.ca
                        <p>
                        <a href="https://twitter.com/jraywo">
                            <img title="@jraywo" id="twitter-logo" src="/static/jeffreyvwong/images/assets/Twitter_logo_blue.png"/>
                        </a>
                        <a href="https://www.facebook.com/jeff.wong.7967">
                            <img title="Facebook" id="facebook-logo" src="/static/jeffreyvwong/images/assets/FB-f-Logo__blue_512.png"/>
                        </a>
                        <a href="http://lnkd.in/WgyJvD">
                            <img title="Linked In" id="linkedin-logo" src="/static/jeffreyvwong/images/assets/LinkedIn.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


