{% extends "jeffreyvwong/base.html" %}

{% block title %} {{ block.super }} | Question{% endblock title %} 

{% block head %}
     <script type="text/javascript">          
          $(document).ready(function(){
          
          });
     </script>
     <style type="text/css">
              
     </style>          
{% endblock head %}

{% block content %}
   
<h2>A First Course in Computer programming <emph>[with Python]</emph></h2>
<p>All the material presented here is available on <a href="https://github.com/jvwong/teach">Github</a></p>
<br>

<h3>Course Materials</h3>

<h4>Slide Decks</h4>
<p>
     <ul class="square">
          <li>
               Week 00 - <a href="/static/jeffreyvwong/assets/slides/teach_prelim.pdf">Overview</a>
          </li>
          <li>
               Week 01 - <a href="/static/jeffreyvwong/assets/slides/teach_week_01.pdf">Introduction</a>
          </li>   
     </ul>
</p><br>

<h4>Programming Excercises</h4>
<p>
     <ul class="square">
          <li>
               Week 00 - <a href=""></a>
          </li>
          <li>
               Week 01 - <a href=""></a>
          </li>   
     </ul>
</p><br>

<h4>Projects</h4>
<p>
     <ul class="square">
          <li>
               Week 00 - <a href=""></a>
          </li>
          <li>
               Week 01 - <a href=""></a>
          </li>   
     </ul>
</p><br>

{% endblock content %}


                   
