{% extends "jeffreyvwong/base.html" %}

{% block title %} Skills{{ block.super }}{% endblock title %}

{% block meta_description %}
    <meta name="description" content="Summary of relevant skills." />
{% endblock meta_description %}

{% block head %}
<style type="text/css">

    
</style>
{% endblock head %}

{% block content %}

<div class="section">
  <div class="item">
    <h3 class="item-title">Medical Research</h3>
    <ul class="circle">
      <li>Undergraduate degree in Molecular Biology and Molecular Genetics. Three undergraduate student research positions in diverse fields (cardiovascular, Duchenne Muscular Dystrphy, Synthetic Biology)</li>
      <li>Doctorate in the division of experimental cancer therapeutics in the department of Medical Biophysics at Princess Margaret Hospital. Bench research on mechanisms underlying the response to radiation and DNA damage therapies</li>
      <li>Postdoctoral work in the biology of mammalian cells, microbes, and viruses</li>
      <li>Industry-based experience in analysis of basic research, clinical trials, pharmacokinetics and pharmacodynamics of rheumatoid arthritis therapies, human physiology,  and clinical interventions involved in treatment of widespread bacterial infection</li>
    </ul>
  </div>

  <div class="item">
    <h3 class="item-title">Mathematical Modelling</h3>
    <ul class="circle">
      <li>Undergraduate degree in Applied Mathematics and Scientific computation. Emphasis on numerical methods for computational mathematics and computational statistics</li>
      <li>Post-doctoral experience with modelling, simulation, and optimization of biological networks</li>
      <li>Industry experience in multi-scale modelling and simulation of virtual patients and populations. Deployed machine learning and statistical tools to optimize </li>
      <li>Self-directed learning in machine learning [Coursera] and statistical learning techniques [Wiley: Introduction to Statistical Learning; The Elements of Statistical Learning]</li>
    </ul>
  </div>

  <div class="item">
    <h3 class="item-title">Data Visualization & Analysis</h3>
    <ul class="circle">
      <li>Multiple primary and review articles published requireing use of graphic visualization to convey biological concepts. Publication of primary research required developing visualizations of complex, multidimensional data for presentation and publication</li>
      <li>Industry experience in developing visualization pipeline to manage, intergrate , and present results of model optimization</li>
      <li>Self-directed learning in full-stack web development (Udacity). Self-directed upgrade of skills to include Unix, Python, Javascript and web-related technolgies (Django, Node.js, CSS,  HTML)</li>
    </ul>
  </div>

</div>


{% endblock content %}

