<!DOCTYPE html>
<html lang="en">
<head>
      
    <!--faveicon  -->
    <link rel="icon" href="/static/jeffreyvwong/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/jeffreyvwong/images/favicon.ico" type="image/x-icon">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta_description %}
      <meta name="description" content="jeffreyvwong.ca - Web property of Jeffrey V Wong" />
    {% endblock meta_description %}

    <meta name="author" content="jeffrey v wong" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Third party css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Third party javascript -->
    <script type="text/javascript" src="/static/jeffreyvwong/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/jeffreyvwong/js/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/jeffreyvwong/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/jeffreyvwong/js/crossfilter.min.js"></script>
    <script type="text/javascript" src="/static/jeffreyvwong/js/dc.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/jeffreyvwong/css/base.css">

    <script>
        (function(){

          // store the name of the Analytics object
          window.GoogleAnalyticsObject = 'ga';

          // check whether the Analytics object is defined
          if (!('ga' in window)){

            // define the Analytics object
            window.ga = function(){

              // add the tasks to the queue
              window.ga.q.push(arguments);

            };

            // create the queue
            //after the immediate function, arguments are pushed in
            window.ga.q = [];

          }

          // store the current timestamp
          window.ga.l =  (new Date()).getTime();

          // create a new script element
          var script = document.createElement('script');
          script.src = '//www.google-analytics.com/analytics.js';
          script.async = true;

          // insert the script element into the document
          var firstScript = document.getElementsByTagName('script')[0]; //grab the first script tag
          firstScript.parentNode.insertBefore(script, firstScript); //stick ga script before the first tag found

        })();

        ga('create', 'UA-48883466-1', 'jeffreyvwong.ca'); //each element is pushed into q
        ga('send', 'pageview');

    </script>



    <title>{% block title %}{% endblock title %} - jeffreyvwong.ca </title>
    {% block head %}
    {% endblock head %}

</head>

<body>

    <div class="navbar navbar-static-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'jeffreyvwong_home' %}">jeffreyvwong.ca</a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    {% block navbarjump %}
                    {% endblock navbarjump %}
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->


    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>


    <!-- FOOTER -->

    <div class="container">
        <footer>
            {% block footer %}
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>
                &copy; Jeffrey V Wong &middot;
                <a href="https://github.com/jvwong?tab=repositories">Github</a> &middot;
                <a href="{% url 'jeffreyvwong_cv' %}">CV</a> &middot;
                <a href="{% url 'jeffreyvwong_contact' %}">Contact</a> &middot;
                <a href="{% url 'admin:index' %}">Admin</a>
            </p>
            {% endblock footer %}
        </footer>
    </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>
