{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>GVT</title>
  <link rel="stylesheet" type="text/css" href="{% static 'jeffreyvwong/css/hp/app.css' %}">
</head>
  <body>
    <div class="gvt">
        <div id="bar-chart-long" class="chart"></div>
        <div id="bar-chart" class="chart"></div>
        <div id="toggle-filter" class="filter"></div>
        <div id="table-chart" class="list"></div>
        <script type="text/javascript" src="{% static 'jeffreyvwong/js/hp/bundle.js' %}"></script>
    </div>
  </body>
</html>