bind = "unix:/tmp/HOST"
backlog = 2048
workers = 3
chdir = "/webapps/jeffreyvwong/jeffreyvwong/HOST/source"
pidfile = None
accesslog = "/webapps/jeffreyvwong/jeffreyvwong/HOST/log/gunicorn/gunicorn_access.log"
errorlog = "/webapps/jeffreyvwong/jeffreyvwong/HOST/log/gunicorn/gunicorn_error.log"
debug = False
loglevel = "info"
user = "jeffreyvwong"
group = "webapps"

